#jumbo-title{
	font-family: roboto;
	font-weight: 900;
	text-transform:uppercase;
	color: #fff;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}	
.bg-info {
	background-color: #9b2a2a;
  }